__pycache__/
venv/
.env
.env.*
!.env.example
*.json
firebase_key.json
serviceAccountKey.json
*.db
*.db.*
*.sqlite
*.log
*.bak
*.tmp
*.swp
.DS_Store
.idea/
.vscode/
*.iml
*.sublime-project
*.sublime-workspace
*.pyc
*.pyo
*.pyd
*.so
*.dylib
*.egg
*.egg-info/
app/static/uploads/
