# Python cache
__pycache__/
*.pyc
*.pyo
*.pyd

# Virtual env
venv/
.env
.env.*
!.env.example

# Secrets
firebase_key.json
serviceAccountKey.json

# Database
*.db
*.db.*
*.sqlite

# Logs
*.log

# Temp files
*.tmp
*.bak
*.swp

# macOS
.DS_Store

# IDE
.idea/
.vscode/
*.iml
*.sublime-project
*.sublime-workspace

# Python packages
*.egg
*.egg-info/

# Native libs
*.so
*.dylib

# Uploads
app/static/uploads/

# Testing
.pytest_cache/
coverage/
htmlcov/